@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body{
    /* background-color:aqua ; */
    font-family: 'Shadows Into Light', cursive;
    background-color: #383CC1;
}
h1{
    text-align: center;
    color:antiquewhite;
}
button{
    /* position: relative;*/
    display: block;
    margin: auto;
    margin-top: 2rem;
}
input{
display: block;
margin: auto;
}
div{
    text-align: center;
    color:white ;
    font-size: xx-large;
}
